body {
    margin: 0rem;
    width: 100%;
    height: 100%;
}

/* Header and Banner */
.background_image {
    background-image: url("images/laughing_grey.png");
    width: 90rem;
    height: 68.3125rem;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    color: white;
}

.header,
.banner{
    position: relative;
}

header div {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-bottom: 0.3125rem;
}

header .logo {
    padding-left: 8.75rem;
    width: 10.4385rem;
    height: 1.8413125rem;
    flex-shrink: 0rem;
}

header div a {
    display: flex;
    color: white;
    margin-right: 0.625rem;
    word-spacing: 3.25rem;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: Source Sans Pro;
}

header .course {
    padding-right: 3.25rem;
    margin-right: 0rem;
}

header .login {
    padding-left: 3.25rem;
    padding-right: 3.125rem;
    margin: 0rem;
}

header .price {
    margin: 0rem;
}

.banner {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: Source Sans Pro;
}

.banner h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0rem;
    margin-top: 9.72rem;
    padding-top: 1.25rem;
}

.banner .words {
    color: #FFFFFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -0.625rem;
    margin-bottom: 1.1875rem;
}

.banner .grin {
    padding-left: 3.5625rem;
    padding-right: 3.6875rem;
}

.banner .button1 {
    border-radius: 1.375rem;
    background: #C271FF;
    color: #FFFFFF;
    padding: 0.75rem 1.25rem;
    margin-top: 1.1875rem;
    border: 0rem;
    border-radius: 3.125rem;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0rem 0.125rem 1.25rem 0rem rgba(0, 0, 0, 0.50);
}

.banner .button_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #FFFFFF;
    /* text-align: center; */
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10.5rem;
    margin-bottom: 5.4375rem;
    /* width: 45rem; */
    height: 2.5rem;
    padding-left: 37.8125rem;
    /* padding-right: 35.875rem; */
}

#learn {
    color: #C271FF;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.professionials {
    display: flex;
    margin-top: 7.8125rem;
    margin-left: 13.375rem;
    margin-right: 13.5625rem;
    padding-bottom: 9.375rem;
    margin-top: 0.625rem;
}

.professionials img {
    border-radius: 50%;
}

.banner_person1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    flex-flow: column;
    padding-right: 8.6875rem;
}

.banner_person1 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.6875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.125rem;
}

.banner_person1 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 6.125rem;
}

.banner_person2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    flex-flow: column;
    padding-right: 8.1875rem;
}

.banner_person2 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.6875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.125rem;
}

.banner_person2 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 6.125rem;
}

.banner_person3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    flex-flow: column;
    padding-right: 8.6875rem;
}

.banner_person3 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.6875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.125rem;
}

.banner_person3 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 6.125rem;
}

.banner_person4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    flex-flow: column;
}

.banner_person4 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.6875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.125rem;
}

.banner_person4 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 6.125rem;
}

/* Quote */

.quote_section {
    background: url('images/quote_background.svg');    width: 90rem;
    width: 90rem;
    height: 24.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    background-position: center;
    background-repeat: no-repeat;
}

.quote {
    width: 58.9375rem;
    height: 1rem;
    padding-top: 6.75rem;
    padding-left: 14.8125rem;
    padding-bottom: 7.75rem;
    padding-right: 16.25rem;
    display: flex;
    align-items: center;
}

.quote_block {
    width: 45.625rem;
    height: 9.875rem;
    padding-top: 0.125rem;
    padding-left: 3.3125rem;
}

blockquote {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
    margin-bottom: 1.375rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
}

.quote_block cite {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
    margin: 0rem;
}

.quote_block p {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.1rem;
    margin: 0rem;
}

.quote img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9.375rem;
    height: 9.375rem;
    flex-shrink: 0;
    flex-flow: column;
    border-radius: 50%;
}

/* Video */

.video_section {
    width: 90rem;
    height: 39rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

.video_box {
    width: 76.75rem;
    height: 28.125rem;
    flex-shrink: 0;
    padding: 5.4375rem 6.625rem;
}

.video_box h1 {
    /* width: 18.375rem; */
    /* height: 2.5rem; */
    color: #071629;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 4.6875rem;
    /* padding-left: 28.25rem;
    padding-right: 30.125rem; */
    margin: 0rem;
}

.video_box #popular {
    color: #C271FF;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.video_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video_container h2 {
    color: #071629;
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 1.125rem;
    padding-bottom: 0.475rem;
    padding-left: 0.8125rem;
    margin: 0rem;
}

.video_container h3 {
    /* width: 5.375rem;
    height: 1.6875rem; */
    color: #C271FF;
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem;
    margin: 0rem;
    padding-left: 0.8125rem;
    padding-top: 0.125rem;
    padding-bottom: 0.0625rem;
}

.video_container p {
    width: 15.125rem;
    height: 3rem;
    color: rgba(7, 22, 41, 0.50);
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 0.8375rem;
    padding-left: 0.8125rem;
    margin: 0rem;
}

.tutorial_box1, 
.tutorial_box2,
.tutorial_box3,
.tutorial_box4 {
    width: 15.9375rem;
    height: 22.1875rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFF;
}

.tutorial_box1{
    margin-right: 1.9375rem;
    margin-left: 3.625rem;
}

.tutorial_box3 {
    margin-right: 1.875rem;
    margin-left: 1.875rem;
}

.tutorial_box4 {
    margin-right: 3.6875rem;
}

.video1,
.video2,
.video3,
.video4 {
    width: 15.9375rem;
    height: 9.625rem;
    flex-shrink: 0;
    border-radius: 0.3125rem 0.3125 0rem 0rem;
    background: #D8D8D8;
}

.img1,
.img2,
.img3,
.img4 {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
    border-radius: 50%;
}

.img1_box,
.img2_box,
.img3_box,
.img4_box {
    /* width: 8.0625rem;
    height: 1.875rem; */
    display: flex;
    padding-bottom: 0.875rem;
    padding-left: 0.8125rem;
    margin: 0rem;
}

.star_line {
    display: flex;
    align-items: center;
    width: 13.75rem;
    height: 1.6875rem;
}

.star_line p {
    /* width: 2.125rem; */
    height: 1.6875rem;
    color: #C271FF;
    text-align: right;
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem;
    padding-left: 7.9375rem;
    margin-top: -0.5rem;
}

.star_box {
    position: relative;
    width: 6.6875rem;
    height: 0.9375rem;
    margin: 0rem;
    left: 0.8125rem;
    padding-bottom: 0.9375rem;
}

.star_box img {
    position: absolute;
}

/* Membership */

.membership_section {
    background: url('images/membeship.svg');    width: 90rem;
    width: 90rem;
    height: 31.375rem;
    flex-shrink: 0;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mem_container {
    display: flex;
}

.mem_block1 {
    width: 16.0625rem;
    height: 9.5625rem;
    flex-shrink: 0;
    align-items: center;
    padding-right: 1.6875rem;
    padding-bottom: 5.3125rem;
    padding-left: 10.25rem;
}

.mem_block2 {
    width: 16.0625rem;
    height: 9.5625rem;
    flex-shrink: 0;
    align-items: center;
    padding-right: 1.75rem;
    padding-bottom: 5.3125rem;
}

.mem_block3 {
    width: 16.0625rem;
    height: 9.5625rem;
    flex-shrink: 0;
    align-items: center;
    padding-right: 1.8125rem;
    padding-bottom: 5.3125rem;
}

.mem_block4 {
    width: 16.0625rem;
    height: 9.5625rem;
    flex-shrink: 0;
    align-items: center;
    padding-right: 10.25rem;
    padding-bottom: 5.3125rem;
}

.membership_section h1 {
    width: 14.625rem;
    height: 2.5rem;
    color: #C271FF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 4.375rem;
    padding-bottom: 3.625rem;
    padding-left: 38.5625rem;
    padding-right: 36.8125rem;
    margin: 0rem;
}

.membership_section h2 {
    width: 16rem;
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
    padding-right: 0.03125rem;
    padding-bottom: 0.8125rem;
    padding-right: 0.03125rem;
    margin: 0rem;
}

.membership_section p {
    width: 13.25rem;
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 0rem;
}

#mem {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.mem_container img {
    padding-top: 0.001875rem;
    padding-right: 6.66375rem;
    padding-bottom: 1.66375rem;
    padding-left: 6.669375rem;
}

.mem_block1 p {
    padding-right: 1.40625rem;
    padding-left: 1.40625rem;
}

.mem_block2 p {
    padding-right: 1.125rem;
    padding-left: 1.125rem;
}

.mem_block3 p {
    padding-right: 1.3125rem;
    padding-left: 1.3125rem;
}

.mem_block4 p {
    padding-right: 1.3125rem;
    padding-left: 1.3125rem;
}

.membership_section button {
    width: 10.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 1.375rem;
    background: #C271FF;
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 39.9375rem;
    margin-bottom: 3.25rem;
    margin-left: 39.9375rem;
}

/* F.A.Q */

.faq_section {
    width: 90rem;
    height: 53.625rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
}

.faq_box {
    width: 57.5rem;
    height: 44.1875rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4.1875rem;
    padding-right: 16.9375rem;
    padding-bottom: 5.25rem;
    padding-left: 15.5625rem;
    background-color: #FFFFFF;
}

.faq_box h1 {
    width: 8.5rem;
    height: 4.6875rem;
    color: #071629;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0rem;
    padding-left: 25.4375rem;
    padding-right: 23.5625rem;
    padding-bottom: 4.625rem;

}

.faq_box h2 {
    width: 9.0625rem;
    height: 1.25rem;
    color: #071629;
    font-family: "Source Sans Pro";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0rem;
}

.faq_box p {
    width: 21.875rem;
    height: 12rem;
    color: rgba(7, 22, 41, 0.50);
    font-family: "Source Sans Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0rem;
}

.top_row,
.bottom_row {
    display: flex;
}

.q1,
.q2,
.q3,
.q4 {
    flex: 1;
}

.q1 {
    width: 21.875rem;
    height: 15.125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
    padding-right: 13.75rem;
    padding-bottom: 4.625rem;
    margin: 0rem;
}

.q2 {
    width: 21.875rem;
    height: 15.125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
    padding-bottom: 4.625rem;
    margin: 0rem;
}

.q3 {
    width: 21.875rem;
    height: 15.125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
    padding-right: 13.75rem;
    margin: 0rem;
}

.q4 {
    width: 21.875rem;
    height: 15.125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
    margin: 0rem;
}

/* Footer */

footer {
    width: 90rem;
    height: 15.5625rem;
    flex-shrink: 0;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    background: #071629;
}

.footer_logo {
    width: 10.5rem;
    height: 1.84375rem;
    margin: 0rem;
    padding-top: 5.9375rem;
    padding-right: 21.125rem;
    padding-bottom: 4.375rem;
    padding-left: 10.3125rem;
}

footer p {
    width: 6rem;
    height: 0.9375rem;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3517;
    margin: 0rem;
    position: relative;
    left: 42rem;
    bottom: 2.4375rem;
}

.social_line {
    width: 8.125rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
}

.social {
    position: relative;
    width: 8.125rem;
    height: 1.875rem;
    margin: 0rem;
    right: 15rem;
    left: 66.875rem;
    bottom: auto;
    top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 18.75rem;
    padding-top: 0rem;
    margin-top: 5.6875rem;
}

.social img {
    position: absolute;
}
