body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Header and Banner */
.background_image {
    background-image: url("images/laughing_grey.png");
    width: 1440px;
    height: 1093px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.header,
.banner{
    position: relative;
}

header div {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
}

header .logo {
    padding-left: 140px;
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
}

header div a {
    display: flex;
    color: white;
    margin-right: 10px;
    word-spacing: 52px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: Source Sans Pro;
}

header .course {
    padding-right: 52px;
    margin-right: 0px;
}

header .login {
    padding-left: 52px;
    padding-right: 50px;
    margin: 0px;
}

header .price {
    margin: 0px;
}

.banner {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: Source Sans Pro;
}

.banner h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 155.52px;
}

.banner .words {
    color: #FFFFFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
    margin-bottom: 19px;
}

.banner .grin {
    padding-left: 57px;
    padding-right: 59px;
}

.banner .button1 {
    border-radius: 22px;
    background: #C271FF;
    color: #FFFFFF;
    padding: 12px 20px;
    margin-top: 19px;
    border: 0;
    border-radius: 50px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
}

.banner .button_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #FFFFFF;
    /* text-align: center; */
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 168px;
    margin-bottom: 87px;
    width: 261px;
    padding-left: 575px;
    padding-right: 604px;
}

#learn {
    color: #C271FF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.professionials {
    display: flex;
    margin-top: 125px;
    margin-left: 214px;
    margin-right: 217px;
    padding-bottom: 150px;
    margin-top: 10px;
}

.professionials img {
    border-radius: 50%;
}

.banner_person1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    flex-flow: column;
    padding-right: 139px;
}

.banner_person1 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.banner_person1 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 98px;
}

.banner_person2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    flex-flow: column;
    padding-right: 131px;
}

.banner_person2 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.banner_person2 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 98px;
}

.banner_person3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    flex-flow: column;
    padding-right: 139px;
}

.banner_person3 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.banner_person3 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 98px;
}

.banner_person4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    flex-flow: column;
}

.banner_person4 h3 {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.banner_person4 p {
    color: #FFFFFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 98px;
}

/* Quote */

.quote_section {
    background: url('images/quote_background.svg');    width: 1440px;
    width: 1440px;
    height: 392px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.quote {
    width: 943px;
    height: 160px;
    padding-top: 108px;
    padding-left: 237px;
    padding-bottom: 124px;
    padding-right: 260px;
    display: flex;
    align-items: center;
}

.quote_block {
    width: 730px;
    height: 158px;
    padding-top: 2px;
    padding-left: 53px;
}

blockquote {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    margin-bottom: 22px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.quote_block cite {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
    margin: 0px;
}

.quote_block p {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
    margin: 0px;
}