.background_image {
    position: relative;
}

.background_image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.00) 0%, #071629 100%), url('images/laughing.jpg');
    background-size: cover;
    background-blend-mode: normal, color;
    filter: grayscale(100%);
    z-index: 0;
}

.background_image img,
.background_image button,
.background_image h1,
.background_image h3,
.background_image p,
.background_image a {
    position: relative;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
}
